* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 24px;
    font-weight: bold;
}
window {
    background-color: rgba(40, 40, 40, 0.9);
}
button {
    color: #ebdbb2;
    background-color: #3c3836;
    border: 1px solid #fe8019;
    box-shadow: none;
    outline: none;
    border-radius: 8px;
    margin: 20px;
    padding: 0px;
    min-width: 250px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center 25%;
    background-size: 30%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
button:focus, button:active, button:hover {
    background-color: #fe8019;
    color: #ebdbb2;
    border: 1px solid #fe8019;
    box-shadow: none;
    outline: none;
}
#lock { background-image: image(url("/usr/share/wlogout/icons/lock.png")); }
#logout { background-image: image(url("/usr/share/wlogout/icons/logout.png")); }
#suspend { background-image: image(url("/usr/share/wlogout/icons/suspend.png")); }
#hibernate { background-image: image(url("/usr/share/wlogout/icons/hibernate.png")); }
#shutdown { background-image: image(url("/usr/share/wlogout/icons/shutdown.png")); }
#reboot { background-image: image(url("/usr/share/wlogout/icons/reboot.png")); }
