* {
  font-family: Inter, JetBrainsMono Nerd Font, sans-serif;
  font-size: 14px;
}

window {
  background-color: #1e1e2e;
  border: 2px solid #45475a;
}

#input {
  margin: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #313244;
  color: #cdd6f4;
  border: none;
}

#input:focus {
  border: 2px solid #89b4fa;
}

#inner-box {
  margin: 0px 12px;
  padding: 6px;
  background-color: transparent;
}

#outer-box {
  margin: 0;
  padding: 0;
}

#scroll {
  margin: 0;
  padding: 0;
}

#entry {
  padding: 8px 12px;
  border-radius: 8px;
  color: #cdd6f4;
}

#entry:selected {
  background-color: #89b4fa;
  color: #1e1e2e;
}

#text {
  color: inherit;
}

#text:selected {
  color: inherit;
}

